grafana:
  adminUser: admin
  adminPassword: admin
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    serviceMonitorSelector:
      matchLabels:
        release: kube-prometheus-stack
    ruleSelector:
      matchLabels:
        release: kube-prometheus-stack
